.cart {
    min-width: 300px;
    border: solid;
    padding:0.5em;
    margin:1em;
    border-color: grey;
    margin-left: 0.5em;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: url("//ingre.png") */
}

h5{
    padding:1em
}