.cart {
    min-width: 300px;
    border: solid;
    border-color: grey;
    margin-left:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: url("//ingre.png") */
}

h5{
    padding:1em
}